.page-loader-wrapper {
    position: absolute;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background: #000000aa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.page-loader-content {
    background: #fff;
    border: 5px solid black;
    width: 25%;
    text-align: center;
}