.notification-drawer {
    z-index: 100;
    transition: .3s;
    position: fixed;
    bottom: 0;
    min-height: 0rem;
    width: 100%;
}

.notification-list {
    padding: 1rem;
    height: 15rem;
    overflow-y: scroll;
    display: block;
}

.notification-list-hidden {
    height: 15rem;
    overflow-y: scroll;
    display: none;
}

.open {
    min-height: 15rem;
}

.drawer-toggler {
    width: 100%;
    text-align: center;
}

.info-span {
    width: 50%;
}